/* HOJA DE ESTILO CSS

VALOR DE IMPORTANCIA
p !important
<p style="color=red">
#id
.class
p */

/* SELECTOR UNIVERSAL */

/* *{
    font-size: 40px;
    color: aqua;
} */

/* SELECTOR ETIQUETA */
/* h2{
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
} */

/* SELECTOR ETIQUETA MULTIPLE */
/* h1,h2,h3,h4{
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
} */

/* SELECTOR CLASE(.) E ID(#) */
/* .parrafo1{
    background-color: bisque;
    text-align: justify;
}
/* indicamos que solo los links de clases parrafo1, a los p no afecta */
/* a.parrafo1{
    background-color: red;
    text-align: center;
}

#enlace1{
    background-color: aquamarine;
    font-style: italic;
}  */

/* SELECTORES DESCENDENTES PADRE-HIJO*/
/* p a{
    background-color: aquamarine;
    font-style: italic;
} */

/* SELECTOR HIJO (hijos directos del padre, no intermedios */
/* p > a{
    background-color: aquamarine;
    font-style: italic;
} */

/* SELECTORES ADYACENTES(UNO AL LADO DEL OTRO, recae en el hijo) */
/* h2 + h3{
    background-color: aquamarine;
    font-style: italic;
} */

/* SELECTORES DE ATRIBUTO */
[class]{
    background-color: rgb(214, 19, 149);
    font-style: italic;
}

[class="parrafo1"]{
    background-color: aquamarine;
    font-style: italic;
}