header{
    background-color: aquamarine;
    border: 5px crimson;
    margin: 5px;
    width: 770px;
    height: 220px;
    border-radius: 10px;
}

main{
    width: 775px;
    height: 400px;
    background-color: blueviolet;
}

nav{
    background-color: aqua;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

section{
    background-color: palevioletred;
    width: 420px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

#primero{
    background-color: azure;
    width: 400px;
    height: 120px;
    float: left;
    margin: 5px;
}

#segundo{
    background-color: azure;
    width: 400px;
    height: 120px;
    float: left;
    margin: 5px;
}

#tercero{
    background-color: azure;
    width: 400px;
    height: 120px;
    float: left;
    margin: 5px;
}

aside{
    background-color: rgb(194, 235, 13);
    width: 170px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

footer{
    background-color: goldenrod;
    width: 770px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}